---
layout: "page"

---

<link href="/css/donation.css" rel="stylesheet">
<form action="https://www.paypal.com/us/home" method="get" id="form1"></form>
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>
<div class="Banner">
    <img class="banner-img" src="/assets/img/ipsum_image.jpg">
    <div class="banner-text">Help a Family in need.</div>
</div>
<body>
<h1>Your Donations Make a Difference</h1>
<div class="container">
    <button type="submit" form="form1" formtarget="_blank" id="1">
        <h2>$5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor. </p>
    </button>
    <button type="submit" form="form1" formtarget="_blank" id="2">
        <h2>$10</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor. </p>
    </button>
    <button type="submit" form="form1" formtarget="_blank" id="2">
        <h2>$15</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor. </p>
    </button>
    <button type="submit" form="form1" formtarget="_blank" id="2">
        <h2>$20</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor. </p>
    </button>
    <button type="submit" form="form1" formtarget="_blank" id="2">
        <h2>Custom Amount</h2>
    </button>
</div>
</body>
</html>
