---
layout: "page"
---

<link href="/css/landing.css" rel="stylesheet">
<div class="Banner">
    <img class="banner-img" src="/assets/img/joel-muniz-A4Ax1ApccfA-unsplash.jpg">
</div>

<body>
    <br> </br>

    <div class="content">

        <h2>The Need</h2>
            <p>
                The pandemic has disrupted life for everyone, but it has had a particularly harsh impact on our
                neighbors in need – many of whom were already struggling with access to healthy and nutritious
                meals.<br><br>

                People have lost their jobs, schools have shut their doors and all of us have been forced to live in
                constant fear of catching the virus. Life has forever changed in more ways than any of us can imagine
                today.<br>
            </p>

        <h2>The Mission</h2>
            <p>
                Although we wish we could solve everyone's problems, we recognize that is an impossible task. Instead, we
                aim to allieveate the streeses related to feeding our families. After all, no matter the size of your army,
                before you can go to battle, you first need breakfast.<br><br>

                It is with this in mind that we aim to support small businesses in our community and safely deliver nourishing
                meals to our children and neighbors who need them the most. We aim to provide our families with a moment of
                healing and hope that helps address kids' emotional needs as well as their physical ones.<br><br>
            </p>

        <h2>Please support our mission in whatever way you can to keep our children happy and healthy!</h2>



        <div class="buttons">

            <div class="action_btn">

        <form action="/donate/">
            <input type="submit" value="Donate Now" />
        </form>
                <br>
                <form action="/volunteer/">
                    <input type="submit" value="Volunteer Now" />
                </form>


            </div>
         </div>


        </p>
    </div>
</body>


